<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><a th:href="@{/}">Board</a></h2>
    <h1 th:text="|게시글 등록|" th:align="center"></h1>
    <form th:action th:object="${post}" method="post" th:align="center">

        <div class="form-group" th:align="center">
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}">
            <div th:errors="*{title}"></div>
        </div>
        <div th:align="center">
            <label for="content"></label>
            <textarea id="content" th:field="*{content}" cols="60" rows="10">
            </textarea>
            <div th:errors="*{content}"></div>
        </div>
        <div>
            <select th:field="*{type}">
                <option value="">==카테고리 선택==</option>
                <option th:each="postType :${postTypes}"
                        th:text="${postType.info}"
                        th:value="${postType.name()}"
                ></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
<div th:align="left">
    <button type="button" th:onclick="|location.href='@{/}'|">뒤로</button>
</div>
</body>
</html>